@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;500;600;700;800&display=swap');
@import "/node_modules/bootstrap/scss/functions";

$primary: #227b5d;
$secondary: #e5e9ec;
$danger: #d36550;
$info: #536e7b;
$light: #fff;
$dark: #000;

$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Raleway', sans-serif;
$font-weight-normal: 600;
$text-muted: #63696f;

$navbar-light-color: $dark;
$navbar-light-hover-color: $danger;
$navbar-light-active-color: $danger;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 624 538' width='624' height='538' style='width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);' preserveAspectRatio='xMidYMid meet'><defs><clipPath id='__lottie_element_2'><rect width='624' height='538' x='0' y='0'></rect></clipPath></defs><g clip-path='url(#__lottie_element_2)'><g style='display: block;' transform='matrix(1,0,0,1,308,268)' opacity='1'><g opacity='1' transform='matrix(1,0,0,1,0,0)'><path stroke-linecap='round' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(0,0,0)' stroke-opacity='1' stroke-width='80' d=' M-267.7770080566406,0 C-267.7770080566406,0 270.0740051269531,0 270.0740051269531,0'></path></g></g><g style='display: block;' transform='matrix(1,0,0,1,307.9999694824219,268)' opacity='1'><g opacity='1' transform='matrix(1,0,0,1,0,0)'><path stroke-linecap='round' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(0,0,0)' stroke-opacity='1' stroke-width='80' d=' M-7.2769999504089355,-179 C-7.2769999504089355,-179 270.2770080566406,-179 270.2770080566406,-179'></path></g></g><g style='display: block;' transform='matrix(1,0,0,1,308,268)' opacity='1'><g opacity='1' transform='matrix(1,0,0,1,0,0)'><path stroke-linecap='round' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(0,0,0)' stroke-opacity='1' stroke-width='80' d=' M-269.7770080566406,178 C-269.7770080566406,178 7.7769999504089355,178 7.7769999504089355,178'></path></g></g></g></svg>");
$navbar-light-toggler-border-color: $light;

@import "/node_modules/bootstrap/scss/bootstrap";

body {
  position: relative;
}
