<template>
  <div class="bg-secondary">
    <div class="container product d-grid">
      <div class="py-md-5 product__container">
        <div class="col-12 col-md-7 mb-3 mb-md-0">
          <h1 class="fw-bold">{{ $t('puree.header') }}</h1>
        </div>
      </div>
      <ul class="nav nav-pills my-3" id="pills-yellow-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-yellow-content" data-bs-toggle="pill" data-bs-target="#pills-yellow"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            {{ $t('puree.yellow_product_header') }}
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-yellow">
        <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby="pills-yellow">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(yellow_product, i) in $t('puree.yellow_products')"
                :key="i">
              {{ yellow_product }}
            </li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-pills my-3" id="pills-red-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-red-content" data-bs-toggle="pill" data-bs-target="#pills-red"
                  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
            {{ $t('puree.red_product_header') }}
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-red">
        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-red-tab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(red_product, i) in $t('puree.red_products')"
                :key="i">
              {{ red_product }}
            </li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-pills my-3" id="pills-green-content" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-green-tab" data-bs-toggle="pill" data-bs-target="#pills-green"
                  type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            {{ $t('puree.green_product_header') }}
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-green">
        <div class="tab-pane fade show active" id="pills-contact" role="tabpanel" aria-labelledby="pills-green-tab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(green_product, i) in $t('puree.green_products')"
                :key="i">
              {{ green_product }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.product {
  padding-bottom: 690px;
}

.product__container {
  max-width: 850px;
}

.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-group-item {
  width: 25%;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 1px;
}
</style>
