<template>
  <div class="bg-secondary">
    <div class="container pb-5 px-5 product d-grid justify-content-center">
      <div class="py-md-5 product__container">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-5 pb-5 pb-md-0 d-flex justify-content-center">
            <img :src="require('@/assets/products/flavours-product.png')" alt="Flavours"
                 class="product__image"/>
          </div>
          <div class="col-12 col-md-7 px-md-0 mb-3 mb-md-0">
            <h1 class="fw-bold">{{ $t('flavours.header') }}</h1>
            <a :href="`${publicPath}vilrosa-${$t('flavours.flavours')}.pdf`" target="_blank">{{ $t('products.download')}}</a>
          </div>
        </div>
      </div>

      <p class="text-uppercase">{{ $t('flavours.citrus_specialties_header') }}:</p>
      <div class="tab-pane fade show active" id="pills-citrus" role="tabpanel" aria-labelledby="pills-citrus-tab">
        <ul class="nav nav-pills my-3" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-citrus-oil-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-oils-content"
                    type="button" role="tab" aria-controls="pills-citrus-oils-content" aria-selected="true">
              {{ $t('flavours.citrus_specialties_subheaders.citrus_oils_header') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-citrus-hi-fresh-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-hi-fresh-content"
                    type="button" role="tab" aria-controls="pills-citrus-hi-fresh-content" aria-selected="false">
              {{ $t('flavours.citrus_specialties_subheaders.hi_fresh_header') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-citrus-hi-per-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-hi-per-content"
                    type="button" role="tab" aria-controls="pills-citrus-hi-per-content" aria-selected="false">
              {{ $t('flavours.citrus_specialties_subheaders.hi_per_header') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-citrus-hi-spec-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-hi-spec-content"
                    type="button" role="tab" aria-controls="pills-citrus-hi-spec-content" aria-selected="false">
              {{ $t('flavours.citrus_specialties_subheaders.hi_spec_header') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-citrus-sesquirterpeneless-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-sesquirterpeneless-content"
                    type="button" role="tab" aria-controls="pills-citrus-sesquirterpeneless-content"
                    aria-selected="false">
              {{ $t('flavours.citrus_specialties_subheaders.sesquirterpeneless_header') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-citrus-terpeneless-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-terpeneless-content"
                    type="button" role="tab" aria-controls="pills-citrus-terpeneless-content" aria-selected="false">
              {{ $t('flavours.citrus_specialties_subheaders.terpeneless_header') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-citrus-folded-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-folded-content"
                    type="button" role="tab" aria-controls="pills-citrus-folded-content" aria-selected="false">
              {{ $t('flavours.citrus_specialties_subheaders.folded_header') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-citrus-soft-extract-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-soft-extract-content"
                    type="button" role="tab" aria-controls="pills-citrus-soft-extracts-content" aria-selected="false">
              {{ $t('flavours.citrus_specialties_subheaders.citrus_soft_extracts') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-citrus-washings-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-citrus-washings-content"
                    type="button" role="tab" aria-controls="pills-citrus-washings-content" aria-selected="false">
              {{ $t('flavours.citrus_specialties_subheaders.citrus_washings') }}
            </button>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane fade active show" id="pills-citrus-oils-content" role="tabpanel"
             aria-labelledby="pills-citrus-oil-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(citrus_oil, i) in $t('flavours.citrus_specialties.citrus_oils')"
                :key="i">
              {{ citrus_oil }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-citrus-hi-fresh-content" role="tabpanel"
             aria-labelledby="pills-citrus-hi-fresh-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(hi_fresh, i) in $t('flavours.citrus_specialties.hi_fresh')"
                :key="i">
              {{ hi_fresh }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-citrus-hi-per-content" role="tabpanel"
             aria-labelledby="pills-citrus-hi-per-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(hi_per, i) in $t('flavours.citrus_specialties.hi_per')"
                :key="i">
              {{ hi_per }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-citrus-hi-spec-content" role="tabpanel"
             aria-labelledby="pills-citrus-hi-spec-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(hi_spec, i) in $t('flavours.citrus_specialties.hi_spec')"
                :key="i">
              {{ hi_spec }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-citrus-sesquirterpeneless-content" role="tabpanel"
             aria-labelledby="pills-citrus-sesquirterpeneless-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(sesquirterpeneless, i) in $t('flavours.citrus_specialties.sesquirterpeneless')"
                :key="i">
              {{ sesquirterpeneless }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-citrus-terpeneless-content" role="tabpanel"
             aria-labelledby="pills-citrus-terpeneless-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(terpeneless, i) in $t('flavours.citrus_specialties.terpeneless')"
                :key="i">
              {{ terpeneless }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-citrus-folded-content" role="tabpanel"
             aria-labelledby="pills-citrus-folded-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(folded, i) in $t('flavours.citrus_specialties.folded')"
                :key="i">
              {{ folded }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-citrus-soft-extracts-content" role="tabpanel"
             aria-labelledby="pills-citrus-soft-extracts-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(soft_extracts, i) in $t('flavours.citrus_specialties.soft_extracts')"
                :key="i">
              {{ soft_extracts }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-citrus-washings-content" role="tabpanel"
             aria-labelledby="pills-citrus-washings-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(washings, i) in $t('flavours.citrus_specialties.washings')"
                :key="i">
              {{ washings }}
            </li>
          </ul>
        </div>
      </div>

      <p class="pt-3 mt-3 text-uppercase">{{ $t('flavours.herb_spice_extract_header') }}:</p>
      <div class="tab-pane fade show active" id="pills-spice" role="tabpanel" aria-labelledby="pills-spice-tab">
        <ul class="nav nav-pills my-3" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-spice-soft-extracts-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-spice-soft-extracts-content"
                    type="button" role="tab" aria-controls="pills-spice-soft-extracts-content" aria-selected="true">
              {{ $t('flavours.herb_spice_extract_subheaders.soft_extracts') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-spice-oleoresins-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-spice-oleoresins-content"
                    type="button" role="tab" aria-controls="pills-spice-oleoresins-content" aria-selected="false">
              {{ $t('flavours.herb_spice_extract_subheaders.oleoresins') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-spice-hi_per-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-spice-hi-per-content"
                    type="button" role="tab" aria-controls="pills-spice-hi-per-content" aria-selected="false">
              {{ $t('flavours.herb_spice_extract_subheaders.hi_per') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-spice-hi-spex-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-spice-hi-spex-content"
                    type="button" role="tab" aria-controls="pills-spice-hi-spex-content" aria-selected="false">
              {{ $t('flavours.herb_spice_extract_subheaders.hi_spex') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-spice-washings-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-spice-washings-content"
                    type="button" role="tab" aria-controls="pills-spice-washings-content" aria-selected="false">
              {{ $t('flavours.herb_spice_extract_subheaders.washings') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-spice-essential-oils-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-spice-essential-oils-content"
                    type="button" role="tab" aria-controls="pills-spice-essential-oils-content" aria-selected="false">
              {{ $t('flavours.herb_spice_extract_subheaders.essential_oils') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-spice-infusions-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-spice-infusions-content"
                    type="button" role="tab" aria-controls="pills-spice-infusions-content" aria-selected="false">
              {{ $t('flavours.herb_spice_extract_subheaders.infusions') }}
            </button>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane fade active show" id="pills-spice-soft-extracts-content" role="tabpanel"
             aria-labelledby="pills-spice-soft-extracts-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(soft_extracts, i) in $t('flavours.herb_spice_extracts.soft_extracts')"
                :key="i">
              {{ soft_extracts }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-spice-oleoresins-content" role="tabpanel"
             aria-labelledby="pills-spice-oleoresins-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(oleoresins, i) in $t('flavours.herb_spice_extracts.oleoresins')"
                :key="i">
              {{ oleoresins }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-spice-hi-per-content" role="tabpanel"
             aria-labelledby="pills-spice-hi-per-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(hi_per, i) in $t('flavours.herb_spice_extracts.hi_per')"
                :key="i">
              {{ hi_per }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-spice-hi-spex-content" role="tabpanel"
             aria-labelledby="pills-citrus-hi-spex-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(hi_spex, i) in $t('flavours.herb_spice_extracts.hi_spex')"
                :key="i">
              {{ hi_spex }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-spice-washings-content" role="tabpanel"
             aria-labelledby="pills-spice-washings-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(washings, i) in $t('flavours.herb_spice_extracts.washings')"
                :key="i">
              {{ washings }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-spice-essential_oils-content" role="tabpanel"
             aria-labelledby="pills-citrus-terpeneless-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(essential_oils, i) in $t('flavours.herb_spice_extracts.essential_oils')"
                :key="i">
              {{ essential_oils }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-spice-infusions-content" role="tabpanel"
             aria-labelledby="pills-spice-infusions-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(infusions, i) in $t('flavours.herb_spice_extracts.infusions')"
                :key="i">
              {{ infusions }}
            </li>
          </ul>
        </div>
      </div>

      <p class="pt-3 mt-3 text-uppercase">{{ $t('flavours.flavour_ingredients_header') }}:</p>
      <div class="tab-pane fade show active" id="pills-flavour-ingredients" role="tabpanel" aria-labelledby="pills-spice-tab">
        <ul class="nav nav-pills my-3" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-flavour-ingredients-infusion-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavour-ingredients-infusion-content"
                    type="button" role="tab" aria-controls="pills-flavour-ingredients-infusion-content" aria-selected="true">
              {{ $t('flavours.flavour_ingredients_subheaders.infusions') }}
            </button>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane fade active show" id="pills-flavour-ingredients-infusion-content" role="tabpanel"
             aria-labelledby="pills-flavour-ingredients-infusion-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(infusions, i) in $t('flavours.flavour_ingredients.infusions')"
                :key="i">
              {{ infusions }}
            </li>
          </ul>
        </div>
      </div>

      <p class="pt-3 mt-3 text-uppercase">{{ $t('flavours.flavourings_header') }}:</p>
      <div class="tab-pane fade show active" id="pills-flavourings" role="tabpanel" aria-labelledby="pills-spice-tab">
        <ul class="nav nav-pills my-3" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-flavourings-berry-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-berry-content"
                    type="button" role="tab" aria-controls="pills-flavourings-berry-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.berry_summer_fruit') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-citrus-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-citrus-content"
                    type="button" role="tab" aria-controls="pills-flavourings-citrus-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.citrus_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-other-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-other-content"
                    type="button" role="tab" aria-controls="pills-flavourings-other-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.other_fruit_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-floral-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-floral-content"
                    type="button" role="tab" aria-controls="pills-flavourings-floral-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.floral_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-spice-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-spice-content"
                    type="button" role="tab" aria-controls="pills-flavourings-spice-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.herb_spice_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-nutty-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-nutty-content"
                    type="button" role="tab" aria-controls="pills-flavourings-nutty-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.nutty_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-dairy-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-dairy-content"
                    type="button" role="tab" aria-controls="pills-flavourings-dairy-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.dairy_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-dessert-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-dessert-content"
                    type="button" role="tab" aria-controls="pills-flavourings-dessert-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.dessert_sweet_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-beverage-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-beverage-content"
                    type="button" role="tab" aria-controls="pills-flavourings-beverage-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.beverage_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-savoury-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-savoury-content"
                    type="button" role="tab" aria-controls="pills-flavourings-savoury-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.savoury_flavours') }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-flavourings-hi-taste-subtab" data-bs-toggle="pill"
                    data-bs-target="#pills-flavourings-hi-taste-content"
                    type="button" role="tab" aria-controls="pills-flavourings-hi-taste-content" aria-selected="true">
              {{ $t('flavours.flavourings_subheaders.hi_taste') }}
            </button>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane fade active show" id="pills-flavourings-berry-content" role="tabpanel"
             aria-labelledby="pills-flavourings-berry-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(berry_summer_fruit, i) in $t('flavours.flavourings.berry_summer_fruit')"
                :key="i">
              {{ berry_summer_fruit }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-citrus-content" role="tabpanel"
             aria-labelledby="pills-flavourings-citrus-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(citrus_flavours, i) in $t('flavours.flavourings.citrus_flavours')"
                :key="i">
              {{ citrus_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-other-content" role="tabpanel"
             aria-labelledby="pills-flavourings-other-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(other_fruit_flavours, i) in $t('flavours.flavourings.other_fruit_flavours')"
                :key="i">
              {{ other_fruit_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-floral-content" role="tabpanel"
             aria-labelledby="pills-flavourings-floral-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(floral_flavours, i) in $t('flavours.flavourings.floral_flavours')"
                :key="i">
              {{ floral_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-spice-content" role="tabpanel"
             aria-labelledby="pills-flavourings-spice-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(herb_spice_flavours, i) in $t('flavours.flavourings.herb_spice_flavours')"
                :key="i">
              {{ herb_spice_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-nutty-content" role="tabpanel"
             aria-labelledby="pills-flavourings-nutty-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(nutty_flavours, i) in $t('flavours.flavourings.nutty_flavours')"
                :key="i">
              {{ nutty_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-dairy-content" role="tabpanel"
             aria-labelledby="pills-flavourings-dairy-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(dairy_flavours, i) in $t('flavours.flavourings.dairy_flavours')"
                :key="i">
              {{ dairy_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-dessert-content" role="tabpanel"
             aria-labelledby="pills-flavourings-dessert-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(dessert_sweet_flavours, i) in $t('flavours.flavourings.dessert_sweet_flavours')"
                :key="i">
              {{ dessert_sweet_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-beverage-content" role="tabpanel"
             aria-labelledby="pills-flavourings-beverage-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(beverage_flavours, i) in $t('flavours.flavourings.beverage_flavours')"
                :key="i">
              {{ beverage_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-savoury-content" role="tabpanel"
             aria-labelledby="pills-flavourings-savoury-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(savoury_flavours, i) in $t('flavours.flavourings.savoury_flavours')"
                :key="i">
              {{ savoury_flavours }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-flavourings-hi-taste-content" role="tabpanel"
             aria-labelledby="pills-flavourings-hi-taste-subtab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(hi_taste, i) in $t('flavours.flavourings.hi_taste')"
                :key="i">
              {{ hi_taste }}
            </li>
          </ul>
        </div>
      </div>

    </div>
    <img :src="require('../assets/top-divider-secondary.png')" alt="Top divider" class="bg-info w-100">
    <s_footer></s_footer>
  </div>
</template>

<script>
import footer_section from "../components/Footer";

export default {
  components: {
    's_footer': footer_section,
  },

  data () {
    return {
      publicPath: process.env.BASE_URL
    }
  }
}
</script>

<style scoped>
.product {
  margin-top: 70px;
}

.product__container {
  max-width: 850px;

}

.product__image {
  object-fit: cover;
  max-width: 100%;
  max-height: 300px;
}
</style>
