<template>
  <div class="bg-secondary">
    <div class="container pb-5 product d-grid justify-content-center">
      <div class="py-md-5 product__container">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-5 pb-5 pb-md-0 d-flex justify-content-center">
            <img :src="require('@/assets/products/organic-products-product.png')" alt="Organic products"
                 class="product__image"/>
          </div>
          <div class="col-12 col-md-7 mb-3 mb-md-0">
            <h1 class="fw-bold">{{ $t('organic_products.header') }}</h1>
            <a :href="`${publicPath}vilrosa-${$t('organic_products.organic_products')}.pdf`" target="_blank">{{ $t('products.download')}}</a>
          </div>
        </div>
      </div>
      <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            {{ $t('organic_products.yellow_product_header') }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
            {{ $t('organic_products.red_product_header') }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                  type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            {{ $t('organic_products.green_product_header') }}
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(yellow_product, i) in $t('organic_products.yellow_products')"
                :key="i">
              {{ yellow_product }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(red_product, i) in $t('organic_products.red_products')"
                :key="i">
              {{ red_product }}
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light bg-secondary"
                v-for="(green_product, i) in $t('organic_products.green_products')"
                :key="i">
              {{ green_product }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <img :src="require('../assets/top-divider-secondary.png')" alt="Top divider" class="bg-info w-100">
    <s_footer></s_footer>
  </div>
</template>

<script>
import footer_section from "../components/Footer";

export default {
  components: {
    's_footer': footer_section,
  },

  data () {
    return {
      publicPath: process.env.BASE_URL
    }
  }
}
</script>

<style scoped>
.product {
  margin-top: 70px;
}

.product__container {
  max-width: 850px;

}

.product__image {
  object-fit: cover;
  max-width: 100%;
  max-height: 300px;
}
</style>
