<template>
  <div id="about">
    <main class="container overflow-hidden mt-5">
      <div class="row gx-5">
        <section class="col-12 col-md-6 m-auto pb-5 pb-md-0">
          <img :src="require('@/assets/about-image.jpg')" alt="Apples" class="w-100 shadow rounded-3"/>
        </section>
        <section class="col-12 col-md-6 m-auto">
          <article>
            <h2 class="fw-bold">{{ $t('about.header') }}</h2>
            <p class="text-muted fw-light">{{ $t('about.paragraph_1') }}</p>
            <p class="text-muted fw-light">{{ $t('about.paragraph_2') }}</p>
            <p class="text-muted fw-light">{{ $t('about.paragraph_3') }}</p>
            <p class="text-muted fw-light">{{ $t('about.paragraph_4') }}</p>
          </article>
        </section>
      </div>
    </main>
  </div>
</template>

<style scoped>
#about {
  padding-top: 71px;
}
</style>
