<template>
  <footer class="policy bg-info">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 px-4 py-3 py-md-5 text-white text-center">
            <font-awesome-icon :icon="['fa', 'file-alt']" class="icon" alt="File"/>
            <span class="fw-bold ps-3 h6">{{ $t('contact.details_title') }}</span>
            <p class="m-0 fw-light">{{ $t('contact.details_company') }}</p>
            <p class="m-0 fw-light">{{ $t('contact.details_company_code') }}</p>
            <p class="m-0 fw-light">{{ $t('contact.details_vat_code') }}</p>
        </div>
        <div class="col-12 col-md-4 px-4 py-3 py-md-5 text-white text-center">
            <font-awesome-icon :icon="['fa', 'map-marked-alt']" class="icon" alt="Map"/>
            <span class="fw-bold ps-3 h6">{{ $t('contact.address_title') }}</span>
            <p class="m-0 fw-light">{{ $t('contact.address_street') }}</p>
            <p class="m-0 fw-light">{{ $t('contact.address_post') }}</p>
            <p class="m-0 pb-2 fw-light">{{ $t('contact.address_country') }}</p>
        </div>
        <div class="col-12 col-md-4 px-4 py-3 py-md-5 text-white text-center">
            <font-awesome-icon :icon="['fa', 'phone']" class="icon" alt="Phone"/>
            <span class="fw-bold ps-3 h6">{{ $t('contact.phone_title') }}</span>
            <p class="m-0 pb-2 fw-light">{{ $t('contact.phone_number') }}</p>
            <font-awesome-icon :icon="['fa', 'mobile']" class="icon" alt="Mobile"/>
            <span class="fw-bold ps-3 h6">{{ $t('contact.mobile_title') }}</span>
            <p class="m-0 fw-light">{{ $t('contact.mobile_number') }}</p>
        </div>
      </div>
    </div>
  </footer>
</template>
