<template>
  <div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow fixed-top" id="navbar-scrollspy">
      <div class="container-fluid">
        <a class="navbar-brand" :href="`/${$i18n.locale}/#`">
          <img :src="require('@/assets/vilrosa-logo.png')" class="brand-logo" alt="Vilrosa" height="45"/>
        </a>
        <button class="navbar-toggler navbar-toggler-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse my-1" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-2">
              <a class="nav-link text-center" :href="`/${$i18n.locale}/#about`">{{ $t('index.about') }}</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link text-center" :href="`/${$i18n.locale}/#products`">{{ $t('index.products') }}</a>
            </li>
            <li class="nav-item mx-2">
                <div class="d-grid d-md-block">
                    <a class="btn btn-outline-primary border-primary border-2 rounded-pill py-2 px-3 nav-link" :href="`/${$i18n.locale}/#contact`">{{ $t('index.contact') }}</a>
                </div>
            </li>
            <LocaleSwitcher/>
          </ul>
        </div>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
import LocaleSwitcher from "@/components/LocaleSwitcher";

export default {
  name: 'HomeNav',
  components: {
    LocaleSwitcher
  }
}
</script>

<style scoped>
.btn.btn-outline-primary.nav-link {
  color: #227b5d;
}
.btn.btn-outline-primary.nav-link:hover {
  color: white;
}
.btn.btn-outline-primary.nav-link.active {
  color: white;
}

.navbar-toggler-button:focus {
  box-shadow: none;
}
</style>

