<template>
  <div v-if="isHome">
    <s_home_nav></s_home_nav>
  </div>
  <div v-else>
    <s_product_nav></s_product_nav>
  </div>
</template>

<script>
import home_nav from "./HomeNav";
import product_nav from "./ProductNav";

export default {
  name: 'App',
  components: {
    's_home_nav': home_nav,
    's_product_nav': product_nav,
  },
  computed: {
    isHome() {
      return this.$route.name === 'Home'
    }
  }
}
</script>

<style>
body {
  position: relative;
}
</style>
