<template>
  <li class="nav-item mx-2">
    <div class="dropdown">
      <button class="btn btn-primary rounded-pill py-2 px-3 dropdown-toggle text-uppercase" type="button"
              id="localeDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
        {{ this.$i18n.locale }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="localeDropdown">
        <li v-for="locale in other_locales" :key="locale">
          <div class="dropdown-item text-uppercase" @click="switchLocale(locale)">{{ locale }}</div>
        </li>
      </ul>
    </div>
  </li>
</template>

<script>
export default {
  name: 'LocaleSwitcher',
  data() {
    return {
      other_locales: this.$i18n.availableLocales.filter((locale) =>
          locale !== this.$i18n.locale
      ),
    }
  },
  methods: {
    switchLocale(locale) {
      if (this.$i18n.locale !== locale) {
        this.$i18n.locale = locale;
        this.other_locales = this.$i18n.availableLocales.filter((locale) =>
            locale !== this.$i18n.locale
        )
        const to = this.$router.resolve({params: {locale}})
        this.$router.push(to.location)
      }
    },
  },
}
</script>

<style scoped>
.dropdown-menu {
  min-width: 72px;
}
</style>
