<template>
  <div id="products">
    <main class="pt-5">
      <h1 class="fw-bolder text-center pb-4">{{ $t('products.header') }}</h1>
      <section class="container">
        <div class="row g-4">
          <div class="col-12 col-md-6 col-xl-4" v-for="(card, i) in $t('products.cards')" :key="i">
            <a class="text-decoration-none" :href="`/${$i18n.locale}/${card.url}`" title="Link to our product range">
              <div class="card border-0 rounded-3">
                <img :src="require(`@/assets/cards/${card.url}.jpg`)" class="card-img-top" alt="Fruit image">
                <div class="card-body">
                  <p class="h5 card-title fw-bold">{{ card.title }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<style scoped>
#products {
  padding-top: 71px;
}

.card {
  transition: color .3s, transform .3s, box-shadow .3s;
}

@media screen and (max-width: 576px) {
  .card {
    box-shadow: 0 11px 24px -6px rgba(83, 110, 123, .15);
    transform: translate(0, -6px);
  }
}

.card:hover {
  box-shadow: 0 11px 24px -6px rgba(83, 110, 123, .15);
  transform: translate(0, -6px);
}

.card .card-title {
  color: #000;
}

.card:hover .card-title {
  color: #227b5d;
}

.card-img-top {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
</style>
